.idea
.idea/*
.log
.json
.DS_Store
__pycache__
*/__pycache__
*/__pycache__/*
*/*/__pycache__/*
HGCN/gcn/__pycache__/models.cpython-36.pyc
HGCN/gcn/__pycache__/layers.cpython-36.pyc
HGCN/out/*
./out/*
GraphSage/example_data/bipartite-class_map.json
GraphSage/example_data/bipartite-G.json
GraphSage/example_data/bipartite-id_map.json
GraphSage/example_data/bipartite_graph_data_loading.log
GraphSage/example_data/bipartite-walks.txt
GraphSage/example_data/bipartite-id_map_node.json
GraphSage/log_embedding/*
.python-version
.DS_Store
.vscode/
